<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <% var title = "Парусник «Мир»" %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/>
    <link href="css/style.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#navbar">
<div class="navbar-wrapper">
    <nav class="navbar nav-tabs navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars fa-2x"></i>
                </button>
                <a class="navbar-brand text-capitalize" href="#"><%= title %></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#intro">Домой</a></li>
                    <li><a href="#about">О регате</a></li>
                    <li><a href="#tour">Этапы и порты</a></li>
                    <li><a href="#list">Список судов</a></li>
                    <li><a href="#info">Общая информация</a></li>
                    <li><a href="#map-section">Как нас найти</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<header class="intro" id="intro">
    <div class="intro-wrapper">
        <div class="container text-center">
            <div class="col-xs-12">
                <img src="img/logo.png" alt="Контурбалт" class="logo">
            </div>
            <h1 class="text-center">Стань частью команды самого быстрого парусника в мире<br/>
                На самой известной регате Tall Ships Races!</h1>
            <button class="btn btn-default-lg" role="button" data-toggle="modal"
                    data-target="#contactUsModal">Стать частью легенды!
            </button>
        </div>
    </div>
</header>

<main role="main">
    <section class="white" id="about">
        <div class="container text-center">
            <h1 class="text-uppercase">О регате</h1>
            <hr class="subtitle-divider"/>
            <p class="text-left">
                «Мир» обладатель призов, престижных регат "Cutty Sark Tall Ship's Races", "International Hochsee Race
                Seestadt" и "Grand Regatta Columbus&#8209;92". На протяжении длинной истории регат «Мир» единственное
                судно
                класса «А», которое дважды становилось абсолютным победителем.
                <br/><br/>
                Впервые в истории у Вас появилась возможность стать частью команды
                самого быстрого парусника в мире!
                Стань частником международной регаты Tall Ships Races 2016.
                <br/><br/>
                Tall Ships Races – это фестиваль парусных судов со всего света, настоящее веселье с парадом всех
                участников,
                коих ежегодно больше сотни, концертами и соревнованиями.
                <br/><br/>
                Подробности лучше посмотреть на этом коротком, но интересном видео!
                <br/><br/>
            </p>

            <h3>The Tall Ships Races Bergen 2014</h3>

            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/FHHo91Ky8Zo" frameborder="0"
                        allowfullscreen></iframe>
            </div>

            <h3>Tall Ships Races 2015</h3>

            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/L0-kXHHnU4w" frameborder="0"
                        allowfullscreen></iframe>
            </div>

            <button class="btn btn-default-lg" role="button" data-toggle="modal"
                    data-target="#contactUsModal">Хочу в команду
            </button>
        </div>
    </section>

    <section class="text-center" id="tour">
        <h1>Выбрать дату и отрезок</h1>
        <hr class="subtitle-divider"/>

        <section class="cd-container" id="cd-timeline">

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-belgium"></div>
            </div>

            <div class="cd-timeline-block">

                <div class="cd-timeline-content">
                    <h2>Бельгия, Антверпен - Португалия,&nbsp;Лисабон</h2>

                    <p></p>
                    <a href="http://www.sailtraininginternational.org/events/2016-the-tall-ships-races/antwerp"
                       class="cd-read-more">Узнать больше</a>
                    <span class="cd-date">с 7 по 10 Июля</span>
                </div>
            </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-portugal"></div>
            </div>

            <div class="cd-timeline-block">

                <div class="cd-timeline-content">
                    <h2>Португалия, Лисабон - Испания,&nbsp;Кадиз</h2>

                    <p></p>
                    <a href="http://www.sailtraininginternational.org/events/2016-the-tall-ships-races/lisbon/"
                       class="cd-read-more">Узнать больше</a>
                    <span class="cd-date">с 22 по 25 Июля</span>
                </div>
            </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-spain"></div>
            </div>
        </section>
        <section class="cd-container" id="cd-timeline2">

            <div class="cd-timeline-block">
                <div class="cd-timeline-content">
                    <h2>Испания, Кадиз - Испания,&nbsp;Ла&#8209;Корунья</h2>

                    <p></p>
                    <a href="http://www.sailtraininginternational.org/events/2016-the-tall-ships-races/cadiz"
                       class="cd-read-more">Узнать больше</a>
                    <span class="cd-date">с 28 по 31 Июля</span>
                </div>
            </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-spain"></div>
            </div>
        </section>

    </section>

    <section class="white" id="schema">
        <div class="container text-center">
            <p>На борту судна Вы почувствуете себя моряком <br/>
                Бороздящим бескрайние морские просторы! <br/>
                С борта настоящего парусника <br/>
                Восхититесь красотами моря! <br/>
                Цена участия в одном этапе от 800 евро <br/>
                Без учета перелета и трансфера <br/>
                С общими условиями можно ознакомиться по <a href="http://www.tall-shipmir.ru/info">ссылке</a></p>
            <br/> <br/>

            <p class="text-left">«Мир» - третий в серии из шести кораблей класса М-108, (также называемый МИР класс),
                которые были
                построены в 80х годах на судоверфи Ленина в Гданьске - Польша. Первый в серии «Дар Млодзежи» - приписан
                порту Гдыня - Польша. Остальные корабли - Херсонес, Паллада, Дружба, Надежда были построены для бывшего
                Советского союза. С 1988 года «Мир» принимает участие в международных гонках парусных судов.</p>
            <button class="btn btn-default-lg" role="button" data-toggle="modal"
                    data-target="#contactUsModal">Оставить заявку
            </button>
        </div>
    </section>

    <section class="gray" id="list">
        <div class="container"><h1 class="text-uppercase text-center">Список зарегистрирированных судов<br/>
                на The&nbsp;Tall Ships Races 2016</h1>
            <hr class="subtitle-divider"/>

            <ol>
                <li>Александр Гумбольдт - Германия | Класс&nbsp;А</li>
                <li>Atyla - Нидерланды | Класс&nbsp;B</li>
                <li>Balaena - Польша | Класс&nbsp;C</li>
                <li>Black Diamond Darem - Великобритания | Класс&nbsp;C</li>
                <li>Кристиан Радич - Норвегия | Класс&nbsp;A</li>
                <li>Jolie Brise - Великобритания | Класс&nbsp;B</li>
                <li>Хуан де Лангара - Испания | Класс&nbsp;C</li>
                <li>Лорд Нельсон - Великобритания | Класс&nbsp;A</li>
                <li>Мaybe - Великобритания | Класс&nbsp;B</li>
                <li>Morgenster - Нидерланды | Класс&nbsp;A</li>
                <li>Morning Star of Revelation - Великобритания | Класс&nbsp;B</li>
                <li>Pelican of London - Великобритания | Класс&nbsp;A</li>
                <li>Политехника - Польша | Класс&nbsp;D</li>
                <li>Rupel - Бельгия | Класс&nbsp;B</li>
                <li>Rzeszowiak - Польша | Класс&nbsp;C</li>
                <li>Spaniel - Латвия | Класс&nbsp;C</li>
                <li>ST IV - Эстония | Класс&nbsp;C</li>
                <li>Statsraad Lehmkuhl - Норвегия | Класс&nbsp;A</li>
                <li>Tomidi - Бельгия | Класс&nbsp;D</li>
                <li>Вера-Крус - Португалия | Класс&nbsp;B</li>
            </ol>
        </div>

    </section>

    <section class="white" id="info">
        <div class="container text-center">
            <h1 class="text-uppercase text-center">Общая информация</h1>
            <hr class="subtitle-divider"/>
            <h2>Основные ТТХ парусника <i class="fa fa-angle-double-left"></i>Мир<i
                        class="fa fa-angle-double-right"></i>
                <a class="pull-right" role="button" data-toggle="collapse" href="#collapseTth"
                   aria-expanded="false" aria-controls="collapseTth">показать</a>
            </h2>

            <div class="collapse" id="collapseTth">
                <ul class="list-tth">
                    <li>
                        Порт приписки Санкт-Петербург
                    </li>
                    <li>
                        Дата постройки 26-11-1987
                    </li>
                    <li>
                        Длина наибольшая (с бушпритом) — 109,6 м
                    </li>
                    <li>
                        Порожнее водоизмещение — 2247,3 т,
                    </li>
                    <li>
                        Дедвейт — 761 т
                    </li>
                    <li>
                        Высота грот мачты — 49,5 м
                    </li>
                    <li>
                        Площадь парусов — 2771 м²
                    </li>
                    <li>
                        Место постройки: Гданьская судоверфь
                    </li>
                    <li>
                        Главный конструктор: Зигмунд Хорен
                    </li>
                </ul>
            </div>

            <section id="reward_list" class="bounce-inInverse">
                <h2>Награды
                    <a class="pull-right" role="button" data-toggle="collapse" href="#collapseReward"
                       aria-expanded="false" aria-controls="collapseReward">показать</a>
                </h2>

                <div class="collapse" id="collapseReward">
                    <div class="reward_list">
                        <article class="reward_item">
                            <img alt="" src="img/reward/2007_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Tall Ships’ Races — 2007 Mediterranea<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/default.png" width="100" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Welt Pokal regatta 2007<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/2006_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Tall Ships’ Races — 2006<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/2005_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Santander Tall Ships’ Regatta — 2005<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/2005blue_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Tall Ships’ Races — 2005<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/2004_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Tall Ships’ Races — 2004<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/2003_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Tall Ships’ Races — 2003<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/cuttySark2002_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Cutty Sark Tall Ships’ Races — 2002<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/cuttySark_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Cutty Sark Tall Ships’ Races — 2001<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/cuttySark_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Cutty Sark Tall Ships’ Races — 2000<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/cuttySark_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Cutty Sark Tall Ships’ Races — 98<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/cuttySark_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Cutty Sark Tall Ships’ Races — 97<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/cuttySark_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Cutty Sark Tall Ships’ Races — 96<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/cuttySark_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Cutty Sark Tall Ships’ Races — 93<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/default.png" width="100" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>STA Netherlands Feeder Race 1993<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/default.png" width="100" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Grand regatta Columbus-500<i
                                        class="fa fa-angle-double-right"></i> 1992
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/cuttySark_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Cutty Sark Tall Ships’ Races — 91<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/default.png" width="100" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>The 7th Internationale Hochsee Race Der Deetadt
                                Bremerhafen 1991<i class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/cuttySark_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Cutty Sark Tall Ships’ Races — 89<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                        <article class="reward_item">
                            <img alt="" src="img/reward/cuttySark_logoRegatta.gif" width="70" height="100">

                            <h3>
                                <i class="fa fa-angle-double-left"></i>Cutty Sark Tall Ships’ Races — 88<i
                                        class="fa fa-angle-double-right"></i>
                            </h3>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <section class="gray">
        <div class="container text-center">
            <h1 class="text-uppercase text-center">Виртуальный тур по паруснику</h1>
            <hr class="subtitle-divider"/>
            <button id="toggleVirtualShip" class="btn btn-default-lg" role="button">Осмотреть парусник</button>
        </div>
        <iframe src="about:blank" style="display:none;" frameborder="0" width="100%" height="400" id="virtualShip"
                data-src="http://www.tallshipmir.com/flash/pixiq_bark_mir.html"></iframe>

    </section>

    <section class="map white" id="map-section">
        <div class="col-xs-12" style="height:400px">
            <div id="map" style="width: 100%; height: 100%;"></div>
        </div>
    </section>
</main>

<footer>
    <div class="footer-wrapper">
        <div class="container">
            <ul class="list-inline text-center footer-list">
                <li class="col-xs-12 col-sm-3">
                    <span class="fa fa-phone fa-4x"></span>
                    <address>
                        <p><strong>Телефон:</strong><br/>
                            +7 (812) 339-61-19 <br/>
                            +7 (921) 589-50-21
                        </p>
                    </address>
                </li>
                <li class="col-xs-12 col-sm-3">
                    <span class="fa fa-envelope fa-4x"></span>
                    <address>
                        <p><strong>Почта:</strong><br/>
                            tchaykun@konturbalt.ru
                        </p>
                    </address>
                </li>
                <li class="col-xs-12 col-sm-3">
                    <span class="fa fa-map-marker fa-4x"></span>
                    <address>
                        <p><strong>Наш адрес:</strong><br/>
                            Санкт-Петербург, В.О. 9-линия 34,<br/>
                            БЦ «Магнус», офис 201.
                        </p>
                    </address>
                </li>
                <li class="col-xs-12 col-sm-3">
                    <ul class="list-inline footer-social-list">
                        <li>
                            <a href="https://vk.com/club27476985">
                                <img src="img/social-icons/vk.png" alt="Вконтакте" height="50"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/groups/350467235023990/">
                                <img src="img/social-icons/facebook.png" alt="Facebook" height="50"/>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <p class="col-xs-12">© <%= new Date().getFullYear() %> <%= title %></p>
        </div>
    </div>
</footer>

<div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="contactUsModal">
    <div class="modal-dialog">
        <div class="modal-content contact">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center contact-title">Оставьте заявку</h4>
            </div>
            <div class="modal-body text-center">
                <form id="contact" action="" method="post">
                    <fieldset>
                        <label for="inputName"></label>
                        <input type="text" id="inputName" placeholder="Имя*" tabindex="1" autofocus required/>
                    </fieldset>
                    <fieldset>
                        <label for="inputTel"></label>
                        <input type="tel" id="inputTel" placeholder="Телефон*" tabindex="4"
                               pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required/>
                    </fieldset>
                    <button type="submit" id="inputSubmit" data-loading-text="Отправляется"
                            class="btn btn-default-lg">Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
<script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script src="js/main.js"></script>
</body>
</html>